@page "/"
@using ToutDouxMetier
@inject IDataContext data

<PageTitle>ToutDouxLisse</PageTitle>

<h1>En retard</h1>
<Cadre>
    <Contenu>
        <ListeDeTaches Taches=@TachesEnRetard/>
    </Contenu>
</Cadre>
        
<h1>Les 5 prochaines échéances</h1>
<Cadre Titre="Pensez à les traiter">
    <Contenu>
             <ListeDeTaches Taches=@Taches5Prochaines/>
    </Contenu>
</Cadre>

@code {
    public IEnumerable<Tache> TachesEnRetard
            => data.Taches
                .Where(t => !t.Fait && t.Echeance.HasValue && t.Echeance.Value < DateTime.Now)
                .OrderBy(t => t.Echeance);

    public IEnumerable<Tache> Taches5Prochaines
            => data.Taches
                .Where(t => !t.Fait && t.Echeance.HasValue && t.Echeance.Value >= DateTime.Now)
                .OrderBy(t => t.Echeance)
                .Take(5);
}
