@page "/"
@using ToutDouxMetier
@inject IDataContext data

<PageTitle>ToutDouxLisse</PageTitle>

<h1>En retard</h1>
<div class="card mb-5" style="border-radius: 15px;">
        <div class="card-body p-5">
        <ListeDeTaches Taches=@TachesEnRetard/>
        </div>
    </div>

<h1>Les 5 prochaines échéances</h1>
<div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
         <!--ListeDeTaches Taches=@Taches5Prochaines/-->
        </div>
    </div>

@code {
    public IEnumerable<Tache> TachesEnRetard
            => data.Taches
                .Where(t => !t.Fait && t.Echeance.HasValue && t.Echeance.Value < DateTime.Now)
                .OrderBy(t => t.Echeance);
}
