@page "/liste/{Id:int?}"
@using ToutDouxMetier

@inject NavigationManager nav
@inject IDataContext data

<PageTitle>ToutDouxLisse - Liste</PageTitle>

<Cadre Titre=@ListeCourante.Nom>
    <Contenu>
        <form onsubmit='javascript:return false'>
            <div>
                <input type="text" id="form3" class="form-control form-control-lg" @bind="NouvelIntitule"/>
                <label class="form-label" for="form3">What do you need to do today?</label>
            </div>
            <div>
                <input type="datetime" class="form-control form-control-lg" @bind="Echeance" @bind:format="g"/>
            </div>
            <div>
                <button type="button" class="btn btn-primary mt-2" @onclick="AddTache">Add</button>  
            </div>
        </form>
        <ListeDeTaches Editable=true Taches=@ListeCourante.Taches ListeCourante=@ListeCourante/>
    </Contenu>
</Cadre>

@code {
    [Parameter]
    public int Id { get; set; }

    private string NouvelIntitule { get; set; } = "";
    private DateTime? Echeance { get; set; } = DateTime.Now;
    private ListeTaches ListeCourante { get; set; }

    protected override void OnParametersSet()
    {
        if(Id<0 || Id >= data.Listes.Count())
        {
            nav.NavigateTo("404");
        }
        else
        {
            ListeCourante = data.Listes.ElementAt(Id);
        }
    }
    private void AddTache()
    {
        ListeCourante.Add(NouvelIntitule).Echeance = Echeance;
        NouvelIntitule = "";
        Echeance = DateTime.Now;
    }
}